service: clans
provider:
  name: aws
  runtime: nodejs8.10

  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "dynamodb:*"
      Resource: "*"

package:
 include:
   - clans/**

functions:
  app:
    handler: index.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'


  heartbeat:
    handler: index.heartbeat
    events:
     - schedule: rate(7 minutes)

plugins:
  - serverless-offline